/* 
* {
outline: solid 1px red;
padding: 0;
margin: 0;
list-style: none;
} */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #4a616d;
  background: linear-gradient(to 45deg, #daffef 50%, #fcfffd 100%);
  background-color: #daffef;
}

.header {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 30px;
  background-color: rgb(115 221 209 / 26%);
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgb(142 221 209 / 81.6%);
}

.form__content {
  display: inline-block;
  width: 70%;

  /* background-color: rgba(128, 0, 255, 0.377); */
  margin: 0 auto;
}

.form__input {
  width: 20%;
  margin-right: 10px;
  color: #4a616d;
  border: 1px solid;
  border-radius: 3px;
}

.form__arrow {
  font-size: 2rem;
}

.main {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.form__button {
  width: 30%;
  padding: 7px;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #6aa6a8;
  border: 2px solid;
  border-radius: 3px;
}

footer {
  text-align: center;
}
