* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 2rem;
  font-family: system-ui, -apple-system, sans-serif;
  color: #fff;
  background-color: #333;
}

.header__return-home {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  height: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #524f4f;
  text-align: center;
  text-decoration: none;
  background-color: salmon;
  border: solid 1px #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.menu__li {
  list-style: none;
}

.menu__a {
  display: block;
  max-width: 400px;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #223;
  text-align: center;
  text-decoration: none;
  background-color: salmon;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.header__h1 {
  margin-bottom: 1rem;
}

.header__p {
  color: #ddd;
}
