:root {
  --square: 395px;
  --b-radius: 10px;
}

.main {
  width: 400px;
  max-width: 500px;
  height: 500px;

  /* padding: 1rem; */
  margin: 20px auto;
  background-color: #393b50;
  border: 2px dashed;
  border-radius: var(--b-radius);
}

.main__div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--square);
  height: 80px;
  font-size: 4rem;
  font-weight: bold;
  background-color: #e46f4c;
  border: solid 2px;
  border-radius: var(--b-radius);
}

/** Modificar contenedor flex */

.main--flex {
  display: flex;
  flex-flow: row wrap;

  /* align-items: center; */

  /* align-content: center; */
  gap: 1rem;
}
